.App {
  text-align: center;
  font-family: 'Helvetica Neue', 'Arial', 'Sans Serif';
  /*background-image: url('topography.png')*/
}

.App-title {
  text-align: center;
  font-size: 4em;
  color: black;
  font-weight: 800;
  padding: 25px;
}

.hidden {
  display: none;
}

.showcase {
  padding: 40px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  height: 700px;
}

.showcase-item {
  flex: 1;
  transition: flex .4s ease-in-out;
  position: relative;
}

.showcase-item:hover {
  flex: 4;
}

.showcase-item > p {
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  word-break: break-all;
}

.showcaseImg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showcase-name {
  position: absolute;
  top: 0;
}

.footer {
  height: 50px;
}

