body > #root > div {
  height: 100vh;
}

.App {
  text-align: center;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', 'Sans Serif';
  /*background: linear-gradient(110deg, #ff5722 60%, #c41c00 60%);*/
  height: 100%;
  margin: 0 auto;
  /* width: 50%; */
}

.card {
  width: 400px;
  position: absolute;
  top: 25px;
  left: 25px;
  max-height: 65%;
}

.selected-card {
  width: 400px;
  position: absolute;
  left: 25px;
  bottom: 25px;
  max-height: 80%;
}

@media (max-width: 1000px) {
  .App {
    text-align: center;
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', 'Sans Serif';
    /*background: linear-gradient(110deg, #ff5722 60%, #c41c00 60%);*/
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }
}

.App-title {
  text-align: left;
}

.login-logo {
  width: 50%;
}

@media (max-width: 1000px) {
  .login-logo {
    width: 100%;
  }
}

.content-logo {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
  height: 50px;
}

.login {
  padding: 10% 35% 0 35%;
}

.login-title {
  text-align: center;
  font-size: 2em;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
}

.login-description {
  text-align: center;
  padding: 25px 0 25px 0;
}

.App-header {
  text-align: left;
}

.hidden {
  display: none;
}

.showcase {
  margin: auto;
  animation-name: dropdown;
  animation-duration: 4s;
}

.showcase-header {
  text-align: left;
  font-size: 2em;
  color: black;
  font-weight: 800;
  padding-bottom: 0;
}

.showcase-object {
  display: flex;
}

.showcase-item {
  height: 70px;
  width: 100%;
}

.showcase-text {
  font-weight: 300;
  word-break: keep-all;
  padding-left: 15px;
  font-size: 18px;
  text-align: left;
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.showcase-sub {
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
  margin-left: 70px;
  font-size: 16px;
}

.showcase-img {
  float: left;
  position: relative;
  object-fit: cover;
  width: 70px;
  padding-right: 10px;
}

.showcase-name {
  position: absolute;
  top: 0;
}

.graph-container {
  margin: auto;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
}

.list {
  max-height: 230px;
  overflow: auto;
}

.list-rank {
  width: 10px;
  height: 70px;
  padding-right: 15px;
}

.selected-card-img {
  height: 150px;
}

.expand {
  transform: rotate(0deg);
  margin-left: auto;
}
.expanded {
  transform: rotate(180deg);
}

.content-left {
  text-align: left;
}

.settingsDialog {
  width: 300px;
}

.timeRange {
  min-width: 120px !important;
}
