.node-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.node-img {
  background-size: contain;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border-style: solid;
  margin: auto;
  vertical-align: middle;
}

.node-label {
  position: absolute;
  position: absolute;
  left: 50%;
  top: 110%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;
  color: white;
  background-color: black;
  border-radius: 15px;
  white-space: nowrap;
}

.tooltip-arrow {
  height: 12px;
  width: 12px;
  position: absolute;
  left: 50%;
  margin-left: -6%;
  top: 105%;
  background-color: black;
  transform: rotateZ(45deg);
}

/* Make graph overflow */
g foreignObject {
  overflow: visible;
}

g svg {
  overflow: visible;
}
